.profile {
  margin: 50px auto;
  padding: 25px;
  width: 300px;
  -webkit-box-shadow: 6px 6px 17px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 17px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 6px 17px 0px rgba(0, 0, 0, 0.75);
  background: linear-gradient(
    to bottom,
    rgba(212, 228, 239, 1) 0%,
    rgba(134, 174, 204, 1) 100%
  );
  border-radius: 25px;
}

.description {
  text-align: center;
}

.avatar {
  width: 300px;
  height: auto;
  margin: 0 auto 5px;
}

.name {
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  margin-top: 0;
}

.tag {
  color: #7e7e7e;
}

.stats {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 10px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  border: #aaaaaa solid 1px;
  box-shadow: inset -1px 3px 5px 0px rgba(0, 0, 0, 0.75);
}

.label {
  font-weight: 500;
}