.friends {
    width: 300px;
    -webkit-box-shadow: 6px 6px 17px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 6px 17px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 6px 6px 17px 0px rgba(0, 0, 0, 0.75);
    margin: 50px auto;
  }
  
  .item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border: gray solid 1px;
  }
  
  .statusOnline {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 8px;
    background-color: green;
  }
  
  .statusOffline {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 8px;
    background-color: red;
  }